# =========================================================
# AuthHub Example Environment Configuration
# =========================================================


# =========================================================
# Application
# =========================================================

APP_ENV=development

AUTH_API_ADDR=:8080
CONTROL_API_ADDR=:8081

REQUEST_TIMEOUT=30s
SHUTDOWN_TIMEOUT=15s


# =========================================================
# Docker Build Metadata
# =========================================================

APP_VERSION=dev
GIT_COMMIT=unknown
BUILD_DATE=unknown


# =========================================================
# PostgreSQL
# =========================================================

POSTGRES_DB=authhub
POSTGRES_USER=authhub
POSTGRES_PASSWORD=change-me

# Used when running the Go application directly on host
POSTGRES_DSN=host=localhost user=authhub password=change-me dbname=authhub port=5432 sslmode=disable TimeZone=UTC


# =========================================================
# Redis
# =========================================================

REDIS_PASSWORD=change-me
REDIS_DB=0

# Used when running the Go application directly on host
REDIS_ADDR=localhost:6379


# =========================================================
# RabbitMQ
# =========================================================

RABBITMQ_USER=authhub
RABBITMQ_PASSWORD=change-me
RABBITMQ_VHOST=authhub

# Used when running the Go application directly on host
RABBITMQ_URL=amqp://authhub:change-me@localhost:5672/authhub


# =========================================================
# Vault
# =========================================================

# Development mode only
VAULT_DEV_ROOT_TOKEN=change-me-local-only

# Used when running the Go application directly on host
VAULT_ADDR=http://localhost:8200
VAULT_TOKEN=change-me-local-only